.text-element {
    position: relative;
    z-index: 1;
}

.text-element::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-image: url("../public/ellipse.png");
    background-size: 40%;
    background-position: 0px 35px;
    background-repeat: no-repeat;
}

.tableCustom {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

@media (min-width: 320px) and (max-width: 480px){
    .text-element::before{
        background-size: 40%;
        background-position: 0px 35px;
    }
}

@media (max-width: 768px) {
    .tableCustom {
        grid-template-columns: repeat(2, 1fr);
    }
    /* .text-element::before{
        background-size: 20%;
        background-position: 380px 15px;
    } */
}