@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'custom.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter,  sans-serif;
}

h1, h2, h3 {
  font-family: Montserrat;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
  body {
    color: black;
    background: white;
  }
} */
